.sidebar .sidebar-nav .nav-link.active {
    background-color: #007bff !important; /* Cor de fundo para o item ativo */
    color: #ffffff !important; /* Cor do texto para o item ativo */
  }
  
  .sidebar .sidebar-nav .nav-link.active i {
    color: #ffffff !important; /* Cor do ícone para o item ativo */
  }
  