{% extends '_base.html' %}

{% block title %}Pagamentos de {{ aluno.nome }}{% endblock %}

{% block content %}
    <h1>Pagamentos de {{ aluno.nome }}</h1>
    
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Valor</th>
                <th>Data do Pagamento</th>
            </tr>
        </thead>
        <tbody>
            {% for pagamento in pagamentos %}
            <tr>
                <td>{{ pagamento.valor }}</td>
                <td>{{ pagamento.data_pagamento }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Nenhum pagamento registrado para este aluno.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'pessoa:selecionar_aluno_pagamentos' %}" class="btn btn-secondary mt-3">Voltar</a>
{% endblock %}
