{% load static %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'index' %}">
        <i class="bi bi-house-door"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-heading">Páginas</li>

    <li class="nav-item">
      <a class="nav-link {% if request.resolver_match.url_name == 'listar_funcionarios' %}active{% endif %}" href="{% url 'pessoa:listar_funcionarios' %}">
        <i class="bi bi-person-fill"></i>
        <span>Funcionários</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if request.resolver_match.url_name == 'listar_alunos' %}active{% endif %}" href="{% url 'pessoa:listar_alunos' %}">
        <i class="bi bi-person-lines-fill"></i>
        <span>Alunos</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if request.resolver_match.url_name == 'listar_equipamentos' %}active{% endif %}" href="{% url 'equipamento:listar_equipamentos' %}">
        <i class="bi bi-box-seam"></i>
        <span>Equipamentos</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if request.resolver_match.url_name == 'listar_suplementos' %}active{% endif %}" href="{% url 'suplemento:listar_suplementos' %}">
        <i class="bi bi-capsule"></i>
        <span>Suplementos</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if request.resolver_match.url_name == 'selecionar_aluno_pagamentos' %}active{% endif %}" href="{% url 'pessoa:selecionar_aluno_pagamentos' %}">
        <i class="bi bi-currency-dollar"></i>
        <span>Pagamentos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.resolver_match.url_name == 'add-user' %}active{% endif %}" href="{% url 'accounts:add-user' %}">
        <i class="bi bi-person-plus"></i>
        <span>Cadastro de Usuário</span>
      </a>
    </li>
    
  </ul>
</aside>
