{% extends '_base.html' %}
{% load static %}
{% block content %}
  <style>
    .input-group2 {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;
      flex-direction: column-reverse;
    }
  </style>


<body>
<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="/" class="logo d-flex align-items-center w-auto">
                                <span class="d-none d-lg-block">StaminaIO</span>
                                <img src="{% static 'img/logo.png' %}" alt="">
                            </a>
                        </div>

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Crie sua conta</h5>
        
                                </div>

                                <form action="" method="POST" class="row g-3 needs-validation inputRegistro" novalidate>
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Registrar Conta</button>
                                    </div>
                                </form>

                                {% if form.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for field in form %}
                                        {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}
