<!-- templates/accounts/success.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Bem-Sucedido</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Se estiver usando CSS -->
</head>
<body>
    <h1>Cadastro Completo</h1>
    <p>O usuário foi cadastrado com sucesso!</p>
    <a href="{% url 'add-user' %}">Cadastrar outro usuário</a>
    <a href="/">Voltar à página inicial</a>
</body>
</html>
